.main {
    &__content {
        width: 1400px;
    }
    &__works {
        display: flex;
        flex-direction: column;
        &-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 40px;
        }
        &-block {
            height: 360px;
            width: 248px;
            background: #FFFFFF;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            &-logo {
                span {
                    margin-top: 15px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.mts {
    div.main__works-block-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 136px;
        height: 75px;
        margin-top: 143px;
        margin-left: 56px;
        transition: .5s ease;
    }
    img {
        width: 135px;
        height: 33px;
        transition: .5s ease;
    }
    span {
        margin-top: 15px;
        transition: .5s ease;
    }
}
.mts:hover {
    div.main__works-block-logo {
        margin-left: 56px;
        margin-top: 76px;
        transition: .5s ease;
    }
    img {
        width: 99px;
        height: 25px;
        transition: .5s ease;
    }
    span {
        margin-top: 6px;
        transition: .5s ease;
    }
}

.maxim {
    div.main__works-block-logo {
        margin-top: 153px;
        margin-left: 48px;
        transition: .5s ease;
    }
    img {
        width: 153px;
        height: 54px;
        transition: .5s ease;
    }
}
.maxim:hover {
    div.main__works-block-logo {
        margin-top: 276px;
        margin-left: 75px;
        transition: .5s ease;
    }
    img {
        width: 99px;
        height: 34px;
        transition: .5s ease;
    }
}

.playboy {
    div.main__works-block-logo {
        margin-top: 112px;
        margin-left: 80px;
        transition: .5s ease;
    }
    svg {
        width: 89px;
        height: 136px;
        fill: #000000;
        transition: .5s ease;
    }
}
.playboy:hover {
    div.main__works-block-logo {
        margin-top: 21px;
        margin-left: 107px;
        transition: .5s ease;
    }
    svg {
        width: 34px;
        height: 53px;
        fill: #6e6e6e;
        transition: .5s ease;
    }
}

.beeline {
    div.main__works-block-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 101px;
        margin-left: 64px;
        width: 120px;
        height: 159px;
        transition: .5s ease;
    }
    img {
        width: 120px;
        height: 120px;
        transition: .5s ease;
    }
    span {
        margin-top: 15px;
        transition: .5s ease;
    }
}
.beeline:hover {
    div.main__works-block-logo {
        margin-top: 24px;
        transition: .5s ease;
    }
    img {
        width: 36px;
        height: 36px;
        transition: .5s ease;
    }
    span {
        margin-top: 17px;
        transition: .5s ease;
    }
}

.tele2 {
    div.main__works-block-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 137px;
        margin-left: 64px;
        width: 129px;
        height: 87px;
        transition: .5s ease;
    }
    svg {
        width: 120px;
        height: 45px;
        transition: .5s ease;
        fill: #000000;
    }
    span {
        margin-top: 15px;
        color: #000000;
        transition: .5s ease;
    }
}
.tele2:hover {
    div.main__works-block-logo {
        width: 86px;
        height: 63px;
        margin-top: 58px;
        margin-left: 81px;
        transition: .5s ease;
    }
    svg {
        width: 86px;
        height: 33px;
        transition: .5s ease;
        fill: #6e6e6e;
    }
    span {
        margin-top: 3px;
        color: #6e6e6e;
        transition: .5s ease;
    }
}